%section#main-slider.no-margin
  .carousel.slide.wet-asphalt{"data-ride" => "carousel"}
    %ol.carousel-indicators
      - @featured_news.each do
        %li{"data-slide-to" => "0", "data-target" => "#main-slider"}
    .carousel-inner
      - @featured_news.each do |news|
        - if news.images.empty?
          .item{:style => "background-image: url(image-not-available.jpg)"}
            .container
              .row
                .col-sm-6.col-sm-offset-1
                  .carousel-content.centered
                    .row
                      %h2.boxed.animation.animated-item-1 #{news.title}
                    .row
                      %p.boxed.animation.animated-item-2 #{news.subtitle}
                    .row  
                      = link_to('Leer Más', news_path(news), class: 'btn btn-md animation animated-item-3')
        - else
          - news.images.each do |image|
            - if image.cover == true
              .item{:style => "background-image: url(#{image.file.url(:large)})"}
                .container
                  .row
                    .col-sm-6.col-sm-offset-1
                      .carousel-content.centered
                        .row
                          %h2.boxed.animation.animated-item-1 #{news.title}
                        .row
                          %p.boxed.animation.animated-item-2 #{news.subtitle}
                        .row  
                          = link_to('Leer Más', news_path(news), class: 'btn btn-md animation animated-item-3')
          
  %a.prev.hidden-xs{"data-slide" => "prev", :href => "#main-slider"}
    = icon('angle-left')
  %a.next.hidden-xs{"data-slide" => "next", :href => "#main-slider"}
    = icon('angle-right')
%section#boxes.white
  .container
    .row
      .col-sm-4
        .row
          .col-md-12
            .box.peter-river
              %h3
                %span
                  = icon('newspaper-o icon-sm')
                  ÚLTIMAS NOTICIAS
        - @news.each do |news|
          .row
            .col-sm-12.blog-item
              - if news.images.empty?
                = image_tag(('image-not-available.jpg'), class: 'img-responsive img-blog')
                .blog-content
                  = link_to (news_path(news)) do
                    %h4 #{news.title}
                  %p
                    #{news.subtitle}
                  .entry-meta
                    %span
                      = icon('folder-close')
                      %a{:href => "#"} #{news.category}
                    %span
                      = icon('calendar')
                      #{news.date.to_date.to_formatted_s(:long)}
              - else
                - news.images.each do |image|
                  - if image.cover == true
                    = image_tag(image.file.url(:large), class: 'img-responsive img-blog')
                    .blog-content
                      = link_to (news_path(news)) do
                        %h4 #{news.title}
                      %p
                        #{news.subtitle}
                      .entry-meta
                        %span
                          = icon('folder-close')
                          %a{:href => "#"} #{news.category}
                        %span
                          = icon('calendar')
                          #{news.date.to_date.to_formatted_s(:long)}
        .row
          .col-md-12
            = link_to('Ver todas las Noticias', news_index_path, class: 'col-md-12 btn btn-md btn-success')

      .col-sm-4
        .row
          .col-md-12
            .box.orange
              %h3
                %span
                  = icon('calendar icon-sm')
                AGENDA CULTURAL
        - @events.each do |event|
          .row.events-box
            .col-sm-12.blog-item
              - if event.images.empty?
                .row
                  .col-sm-6
                    = image_tag(image.file.url(:large), class: 'img-responsive img-blog')
                  .col-sm-6
                    .blog-content
                      %a{:href => "blog-item.html"}
                        %h4 #{news.title}
                      .entry-meta
                        %span
                          = icon('calendar')
                          #{event.date.to_date.to_formatted_s(:long)}
              - else
                - event.images.each do |image|
                  - if image.cover == true
                    .row
                      .col-sm-6
                        = image_tag(image.file.url(:large), class: 'img-responsive img-blog')
                      .col-sm-6
                        .blog-content
                          %a{:href => "blog-item.html"}
                            %h4 #{event.title}
                          .entry-meta
                            %span
                              = icon('calendar')
                              #{event.date.to_date.to_formatted_s(:long)}
        .row
          .col-md-12
            = link_to('Ver todos los Eventos', events_path, class: 'col-md-12 btn btn-md btn-success')
       
      .col-sm-4
        .row
          .col-md-12
            .box.turquoise
              %h3
                %span
                  = icon('newspaper-o icon-sm')
                MÁS SAN FERNANDO
        - @banners.each do |banner|
          .row
            .col-sm-12.blog-item
              = image_tag(banner.image.url(:large), class: 'img-responsive img-blog')
              .blog-content
                %a{:href => "blog-item.html"}
                  %h4 #{banner.name}
                %p
                  #{banner.description}
              
%section#services.orange
  .container
    .row
      .col-md-4.col-sm-6
        .media
          .pull-left
            = icon('file-text icon-md')
          .media-body
            %h3.media-heading Digesto On-line
            %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
      .col-md-4.col-sm-6
        .media
          .pull-left
            = icon('credit-card icon-md')
          .media-body
            %h3.media-heading Pago de Tasas
            %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
      .col-md-4.col-sm-6
        .media
          .pull-left
            = icon('folder-open icon-md')
          .media-body
            %h3.media-heading Expedientes
            %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
:javascript
   $(document).ready(function() {
    $('#main-slider .carousel .carousel-inner > .item:first').addClass('active');
  });